@section Style{
    @*头部样式位置*@
}

@section HeadScript{
    @*页头脚本位置*@
}

@* 页面小标题 *@
<div class="page-header">
    <h1>
        空白页
        <small>
            <i class="icon-double-angle-right"></i>
            展示
        </small>
    </h1>
</div>


<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        正文的开始
        <!-- PAGE CONTENT ENDS -->
    </div>
</div>

@section FootScript{
    @*页尾脚本位置*@
}