
@{
    if (ViewBag.IsWeiXinOrMoblie != null && ViewBag.IsWeiXinOrMoblie)
    {
        Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    }
}



<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="error-container">
            <div class="well">
                <h1 class="grey lighter smaller">
                    <span class="blue bigger-125">
                        <i class="icon-random"></i>
                        500
                    </span>
                    接口未接通，@TempData["Message"]
                </h1>

                <hr>
                <h3 class="lighter smaller">
                    我们将夜以继日的接通
                    <i class="icon-wrench icon-animated-wrench bigger-125"></i>
                    BUG!
                </h3>

                <div class="space"></div>

                <div>
                    <h4 class="lighter smaller">抱歉发生错误了，您可以：</h4>

                    <ul class="list-unstyled spaced inline bigger-110 margin-15">
                        <li>
                            <i class="icon-hand-right blue"></i>
                            1.点击返回或首页按钮来回到正常页面
                        </li>

                        <li>
                            <i class="icon-hand-right blue"></i>
                            2.将操作过程和编码反馈给我们，我们将全力接通@*，联系电话：0592-5921254*@
                        </li>
                    </ul>
                </div>

                <hr>
                <div class="space"></div>

                <div class="center">
                    <a href="javascript:history.go(-1);" class="btn btn-grey">
                        <i class="icon-arrow-left"></i>
                        返回
                    </a>
                    &nbsp;
                    <a href="@(ViewBag.IsWeiXinOrMoblie == true ? Url.Action("Index", "Home", new { area = "Mobile" }) : Url.Action("Index", "Home"))" class="btn btn-primary">
                        <i class="icon-dashboard"></i>
                        首页
                    </a>
                </div>
            </div>
        </div>

        <!-- PAGE CONTENT ENDS -->
    </div><!-- /.col -->
</div><!-- /.row -->