
@{
    Layout = null;
}

<div class="navside">
    <ul>
        <li class="margin_left animated bounceInLeft">
            <a href="/Mobile/Home/DriftBottleList" class="">
                <p><i class="icon-home bigger-170"></i></p>
                <span>首页</span>
            </a>
        </li>
        <li class="animated bounceInRight">
            <a href="#" onclick="showNearby()">
                <p><i class="icon-location-arrow bigger-170"></i> </p>
                <span>附近</span>
            </a>
        </li>
        <li class="animated bounceInLeft">
            <a id="totalNoReadHref" href="/Mobile/Home/MyBottleList?bottleType=1">
                <p><i class="icon-envelope icon-animated-vertical bigger-160"></i></p>
                <span id="totalNoReadCout" class="">信息</span>
            </a>
        </li>
        <li class="animated bounceInRight">
            <a href="/Mobile/Home/SendDriftBottle">
                <p><i class="icon-beaker bigger-170"></i> </p>
                <span>扔瓶子</span>
            </a>
            
        </li>
        <li class="animated bounceInLeft">
            <a href="/Mobile/Home/List">
                <p><i class="icon-th-list bigger-170"></i> </p>
                <span>更多</span>
            </a>
        </li>
    </ul>
</div>