@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://117.29.170.182:6088/arcgis_js_api/library/3.17/3.17/dijit/themes/tundra/tundra.css" />
    <link rel="stylesheet" type="text/css" href="http://117.29.170.182:6088/arcgis_js_api/library/3.17/3.17/esri/css/esri.css" />
    <script type="text/javascript" src="http://117.29.170.182:6088/arcgis_js_api/library/3.17/3.17/init.js"></script>
</head>
<body>
    <div>空页面</div>
</body>
</html>

