
@{
    Layout = null;
}

<div class="navside">
    <ul>
        <li class="margin_left animated bounceInLeft">
            <a href="/Mobile/Home/Index" class="">
                <p><i class="icon-home bigger-170"></i></p>
                <span>首页</span>
            </a>
        </li>
        <li class="animated bounceInRight">
            <a href="/Mobile/Home/FormDemo">
                <p><i class="icon-jpy bigger-170"></i> </p>
                <span>收银</span>
            </a>
        </li>
        <li class="animated bounceInLeft">
            <a href="/Admin/Members/Index">
                <p><i class="icon-resize-small bigger-170"></i></p>
                <span>充值</span>
            </a>
        </li>
        <li class="animated bounceInRight">
            <a href="/Mobile/Business/BusinessList">
                <p><i class="icon-bar-chart bigger-170"></i> </p>
                <span>报表</span>
            </a>
        </li>
        <li class="animated bounceInLeft">
            <a href="/Admin/Members/Index">
                <p><i class="icon-skype  bigger-170"></i> </p>
                <span>会员</span>
            </a>
        </li>
    </ul>
</div>