
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>B4漂流瓶注册协议</title>
    <meta name="keywords" content="B4漂流瓶|随机漂流瓶|微信漂流瓶下线|漂流瓶" />
    <meta name="description" content="寻找另一个她，遇到自己的有缘人，18岁以下请在父母陪同下使用。一款能认识更多陌生人的在线漂流瓶-B4漂流瓶。微信漂流瓶下线后，我一直使用这款漂流瓶，小哥哥快来找我聊天咯~" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link href="/Areas/Admin/Content/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Areas/Admin/Content/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="/Areas/Admin/Content/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!-- page specific plugin styles -->
    <!-- ace styles -->

    <link rel="stylesheet" href="/Areas/Admin/Content/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/Areas/Admin/Content/assets/css/ace-rtl.min.css" />

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/Areas/Admin/Content/assets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/Areas/Admin/Content/assets/js/html5shiv.js"></script>
    <script src="/Areas/Admin/Content/assets/js/respond.min.js"></script>
    <![endif]-->
    <script src="/Scripts/jquery-2.0.3.js" charset="UTF-8"></script>
    <script src="~/Areas/Admin/Content/LaxJquery.js"></script>
    <script src="/Scripts/jquery.cookie.js"></script>
    <script src="/Areas/Admin/Content/libjs/Layer/layer.2.1.js" charset="UTF-8" type="text/javascript"></script>

</head>

<body class="login-layout">
    <div class="main-container">
        <div style="text-align:center;">
            <h2 style="margin:0px;padding:20px; background-color:#0caffe">用户注册协议</h2>
        </div>

<pre style="margin:0px;border-radius:0px;">            
一、B4漂流瓶平台（以下简称平台）的所有权归全平台所有。所提供的服务必须按照其发布的服务条款和操作规则严格执行。用户填写完信息并点击一下"马上注册"的按钮，这表示用户接受所有的服务条款。
二、所有平台用户单独承担发布内容的责任。用户对服务的使用是根据所有适用于服务的地方法律、国家法律和国际法律标准的。用户承诺：
（1）在平台提交的信息或者利用平台的服务时必须符合中国有关法规，不得在平台的网页上或者利用平台的服务制作、复制、发布、传播以下信息：
    (a)反对宪法所确定的基本原则的；
    (b)危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；
    (c)损害国家荣誉和利益的；
    (d)煽动民族仇恨、民族歧视，破坏民族团结的；
    (e)破坏国家宗教政策，宣扬邪教和封建迷信的；
    (f)散布谣言，扰乱社会秩序，破坏社会稳定的；
    (g)散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；
    (h)侮辱或者诽谤他人，侵害他人合法权益的；
    (i)含有法律、行政法规禁止的其他内容的。
（2）在平台的网页上发布信息或者利用平台的服务时还必须符合其他有关国家和地区的法律规定以及国际法的有关规定。
（3）不利用平台的服务从事以下活动：
    (a)未经允许，进入计算机信息网络或者使用计算机信息网络资源的；
    (b)未经允许，对计算机信息网络功能进行删除、修改或者增加的；
    (c)未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；
    (d)故意制作、传播计算机病毒等破坏性程序的；
    (e)其他危害计算机信息网络安全的行为。
（4）不要发布个人联系方式，不要添加陌生人，不得给陌生人财物
    （a）使用本平台时，禁止用户发布有关自己的联系方式，防止上当受骗（不得在平台交友）。
    （b）使用本平台不允许通过其他软件（包括但不限于QQ、微信、陌陌、探探等）添加陌生人为好友。
    （c）时刻保持警惕，未经允许，不允许给他人转账、汇款（包括但不限于网银、微信、支付宝、QQ等），也不得将值钱物品转交他人。谨防上当受骗。
    （5）不得使用本平台进行有关赌博、色情、诈骗等违法犯罪活动。否则本平台有权进行处罚或封号，并向公安机关举报。
            
（5）用户若违反规定，将由用户本人承担相应的法律责任，请广大瓶友相互监督，共同营造一个和谐健康的交流环境
</pre>
        <div class="form-actions" style="background-color: #ffffff;margin:0px;">
            <button class="btn btn-primary btn-block" onclick="javascript: location.href = '/Mobile/Home/Register'">返回</button>
        </div>
    </div><!-- /.main-container -->
    <!-- basic scripts -->
    <!--[if !IE]> -->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='/Areas/Admin/Content/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='/Areas/Admin/Content/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='/Areas/Admin/Content/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>

    <!-- inline scripts related to this page -->



</body>
</html>
